.home-intervention-container {
    position: relative;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #C831302E;
    border-radius: 38px;
    box-shadow: 8px 12px 6px #C8313012;
    background-color: white;
}

.home-intervention-container:hover {
    border-color: #C83130;
    box-shadow: 8px 12px 6px #c8303025;
}

.top {
    height: 60%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-intervention-container .img {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-intervention-container .bottom {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-intervention-container .bottom h1 {
    margin: 0;
    font-family: normal normal bold 24px/32px Segoe UI;
}

.home-intervention-container .bottom h1 {
    font-size: 20px;
    color: #000000A8;
}

.home-intervention-container .bottom h1 span {
    font-size: 35px;
    margin-right: 2rem;
}